<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyGiaSu_MD18202_DuAn1"
        tools:targetApi="31">
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminActivity.WalletUserActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminActivity.TienTrinhActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminActivity.AdminActivity.PhanHoiActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity.AdminActivity.HopDongActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity.AdminActivity.AdminContainerActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminActivity.VerificationActivity1"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminActivity.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminActivity.ContractActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminActivity.SignatureActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HoSoGiaSu"
            android:exported="false" />
        <activity
            android:name=".Activity.QuenMK"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activity.DangNhap"
            android:exported="false" />
        <activity
            android:name=".Activity.DangKy"
            android:exported="false" />
        <activity
            android:name=".Activity.ManHinhUser"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activity.ManHinhCho"
            android:exported="true" />
        <activity
            android:name=".AdminActivity.AdminActivity.AdminActivity"
            android:exported="true" />
    </application>

</manifest>